
<section class="wow fadeIn bg-extra-dark-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12 center-col text-center margin-100px-bottom xs-margin-40px-bottom">
                <div class="position-relative overflow-hidden width-100">
                    <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Star wars People</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-10 col-xs-12 center-col">
                <ul class="no-padding list-style-4 list-style-color" *ngFor = "let dataItem of StarWarsPeople">
                    <li>
                    <p><span>Height: </span>{{dataItem.height}}</p>
                    <p><span>Mass: </span>{{dataItem.mass}}</p>
                    <p><span>Year of birth</span>{{dataItem.birth_year}}</p>
                    <p><span>Created at: </span>{{dataItem.created}}</p>
                    <p><span>Edited at :</span>{{dataItem.edited}}</p>
                    <p><span>Eye Color: </span>{{dataItem.eye_color}}</p>
                    <p><span>Home World: </span>{{dataItem.homeworld}}</p>
                    <p><span>Skin Color: </span>{{dataItem.skin_color}}</p>
                    <p><span>Url :</span>{{dataItem.url}}</p>
                    <p><span>Films: </span>{{dataItem.films}}</p>
                    <p><span>Species: </span>{{dataItem.species}}</p>
                    <p><span>Vehicle: </span>{{dataItem.vehicle}}</p>
                    <p><span>StarShips: </span>{{dataItem.starships}}</p></li> 
                </ul>
            </div>
        </div>
    </div>
</section> 