
<section class="wow fadeIn bg-extra-dark-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12 center-col text-center margin-100px-bottom xs-margin-40px-bottom">
                <div class="position-relative overflow-hidden width-100">
                    <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase deep-pink">Star wars People</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-10 col-xs-12 center-col">
                <ul class="no-padding list-style-4 list-style-color" *ngFor = "let dataItem of StarWarsPeople">
                    <li class="deep-pink">
                    <p><span class="font-weight-600 text-uppercase">Name : </span>{{dataItem.name}}</p>
                    <p><span class="font-weight-600 text-uppercase">Gender : </span>{{dataItem.gender}}</p>
                    <p><span class="font-weight-600 text-uppercase">Height : </span>{{dataItem.height}}</p>
                    <p><span class="font-weight-600 text-uppercase">Mass : </span>{{dataItem.mass}}</p>
                    <p><span class="font-weight-600 text-uppercase">Year of birth : </span>{{dataItem.birth_year}}</p>
                    <p><span class="font-weight-600 text-uppercase">Created at : </span>{{dataItem.created}}</p>
                    <p><span class="font-weight-600 text-uppercase">Edited at :</span>{{dataItem.edited}}</p>
                    <p><span class="font-weight-600 text-uppercase">Eye Color : </span>{{dataItem.eye_color}}</p>
                    <p><span class="font-weight-600 text-uppercase">Hair Color : </span>{{dataItem.hair_color}}</p>
                    <p><span class="font-weight-600 text-uppercase">Home World : </span>{{dataItem.homeworld}}</p>
                    <p><span class="font-weight-600 text-uppercase">Skin Color : </span>{{dataItem.skin_color}}</p>
                    <p><span class="font-weight-600 text-uppercase">Url :</span>{{dataItem.url}}</p>
                    <p><span class="font-weight-600 text-uppercase">Films : </span>{{dataItem.films}}</p>
                    <p><span class="font-weight-600 text-uppercase">Species : </span>{{dataItem.species}}</p>
                    <p><span class="font-weight-600 text-uppercase">Vehicle : </span>{{dataItem.vehicles}}</p>
                    <p><span class="font-weight-600 text-uppercase">Star-Ships : </span>{{dataItem.starships}}</p></li> 
                </ul>
            </div>
        </div>
    </div>
</section> 